[user]
  name = daniellwdb
  email = 44723767+daniellwdb@users.noreply.github.com
  signingkey = 4A993E3C8E8F0D38

[branch]
  autosetuprebase = always
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  default = current
