[user]
  name = daniellwdb
  email = 44723767+daniellwdb@users.noreply.github.com
	signingkey = B2EC3D1F5F9C1DA0

[pull]
  rebase = true
[branch]
  autosetuprebase = always
[push]
  default = current
[init]
  defaultBranch = main
[commit]
	gpgsign = true
