[user]
  name = daniellwdb
  email = 44723767+daniellwdb@users.noreply.github.com
  signingkey = 04D37549A4C1DF01

[branch]
  autosetuprebase = always
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  default = current
